.input-style {
   border-radius: 17px;
   background: #fff;
   border: none;
   color: #525252;
}
.input-style:focus {
   box-shadow: 0px 4px 2px 3px #cfef50;
   border: none;
}
.inputFile {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}
.inputFile + label {
   background-color: white;
   padding: 16px 20px 100px;
   width: 170px;
   border-radius: 17px;
   display: inline-block;
   color: #808080ba;
   cursor: pointer;
   margin-bottom: 20px;
}

.inputFile:focus + label,
.inputFile + label:focus {
   box-shadow: 0px 4px 2px 3px #cfef50;
}
.inputFile2 {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}
.inputFile2 + label {
   background-color: white;
   padding: 16px 20px 100px;
   width: 100%;
   border-radius: 17px;
   display: inline-block;
   color: #808080ba;
   cursor: pointer;
}

.inputFile2:focus + label,
.inputFile2 + label:focus {
   box-shadow: 0px 4px 2px 3px #cfef50;
}
