@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: "Basic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "DM Serif Text", serif;
}
.input-style {
   border-radius: 17px;
   background: #fff;
   border: none;
   color: #525252;
}
.input-style:focus {
   box-shadow: 0px 4px 2px 3px #cfef50;
   border: none;
}
